<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OneDreamEntities" connectionString="metadata=res://*/OneDreamModels.csdl|res://*/OneDreamModels.ssdl|res://*/OneDreamModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.1.167.158;initial catalog=fuddijp;persist security info=True;user id=fuddijp_f;password=fuddijp12abCD##;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>