@using Fuddi.Models;
@{
  ViewBag.Title = "Category List";
  Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@section assets{
}

<p class="text-right">
  <a href="/_cms/category/edit?action=@((int)Fuddi.Enum.ActionEnum.Add)&redirect=@(ViewData[Fuddi.Configuration.SettingsCfg.Instance.URL_ENCODE_CURRENT_QUERY_AND_PATH_VIEWDATA_KEY])" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add</a>
</p>
<h1>Category List</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>