@using Fuddi.Models;
@using PagedList;
@using PagedList.Mvc
@{
  ViewBag.Title = "Category List";
  Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@model StaticPagedList<OD_Category>

@section assets{
  <script src="/assets/js/controllers/cms/category/category-list-controller.js"></script>
}

<p class="text-right">
  <a href="/_cms/category/edit?action=@((int)Fuddi.Enum.ActionEnum.Add)&redirect=@(ViewData[Fuddi.Configuration.SettingsCfg.Instance.URL_ENCODE_CURRENT_QUERY_AND_PATH_VIEWDATA_KEY])" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add</a>
</p>
<h1>Category List</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@(item.ID)</td>
        <td>@(item.Name)</td>
        <td>
          <a href="/_cms/category/edit?id=@(item.ID)"><i class="glyphicon glyphicon-edit"></i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="remove-btn text-danger" data-id="@(item.ID)" href="javascript:;"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="text-center">
  @Html.PagedListPager((IPagedList)Model, page => Url.Action("CategoryList", new { pageIndex = page }))
</div>