<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>@ViewBag.Title</title>
</head>
<body>
  @RenderBody()

  <script src="//cdn.bootcss.com/require.js/2.2.0/require.min.js" data-main="/assets/js/app.js?[v]=0.0.1"></script>
</body>
</html>
