@using Fuddi.Models;
@{
  ViewBag.Title = "ProductList";
  Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@section assets{
}

<h2 class="page-title">Product Detail</h2>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>