@charset "UTF-8";

.part {
  margin-bottom: 1.5em;
}

#part-1 {
  height: 571px;
  border-bottom: 1px solid #ddd;
}

#part-1 > div {
  float: left;
  height: 100%;
}

/****************************************************************************
* announcement container start
****************************************************************************/

#announcement-container {
  width: 240px;
  padding: 356px 10px 10px 10px;
  background: #ebe1b0;
  color: #663;
}

#announcement-container > h4 {
  font-size: 14px;
  font-weight: 600;
}

#announcement-container > .more {
  position: absolute;
  top: 366px;
  right: 10px;
}

#announcement-container > .divider {
  height: 1px;
  overflow: hidden;
  margin: 9px 0;
  background: #663;
}

#announcement-container a {
  color: #663;
}

#announcement-container a:hover {
  color: #252500;
}

#announcement-container > ul {
  margin-left: 2em;
}

#announcement-container > ul > li {
  /*list-style-type: decimal;*/
  list-style-type: disc;
  margin-bottom: 4px;
  /*color: #db3652;*/
  /*font-size: 14px;*/
  /*font-style: italic;*/
}

#announcement-container > ul > li > a {
  /*font-size: 12px;*/
  /*font-style: normal;*/
}

/****************************************************************************
* announcement container end
****************************************************************************/

#banner-n-new-reveal-container {
  width: 730px;
}

/****************************************************************************
* banner container start
****************************************************************************/

#banner-container {
  height: 350px;
}

#banner-container .swiper-slide {
  overflow: hidden;
}

#banner-container .swiper-slide > img {
  width: 100%;
}

#banner-container > .swiper-container > .swiper-button {
  top: 155px;
}

/****************************************************************************
* banner container end
****************************************************************************/

/****************************************************************************
* new-reveal container start
****************************************************************************/

#new-reveal-container {
  height: 220px;
}

#new-reveal-container .swiper-slide {
  overflow: hidden;
}

.new-reveal-item {
  float: left;
  width: 355px;
  height: 170px;
  margin: 10px 0 0 10px;
  padding: 0 10px;
  color: #999;
}

.new-reveal-item:nth-child(odd) {
  border-right: 1px solid #ddd;
}

.new-reveal-item > .product-name {
  width: 220px;
  margin: 4px 0 6px 0;
  /*font-size: 14px;*/
  line-height: 150%;
}

.new-reveal-item > div {
  margin-bottom: 6px;
  line-height: 150%;
}

.new-reveal-item .award-info {
  display: none;
}

.new-reveal-item .award-winner {
  font-weight: 600;
}

.new-reveal-item ._icon-new-reveal {
  position: absolute;
  top: 0;
  right: 10px;
}

.new-reveal-item .product-preview {
  position: absolute;
  top: 60px;
  right: 10px;
}

#new-reveal-container > .swiper-container > .swiper-button {
  top: 80px;
}

/****************************************************************************
* recommend start
****************************************************************************/

#recommend-sidebar {
  width: 230px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #999;
}

/*
#recommend-sidebar img {
  width: 100%;
  margin: 0 auto;
}
*/

/*
#recommend-sidebar .product-name {
  margin-top: 10px;
  font-size: 14px;
}
*/

#recommend-sidebar ._icon {
  position: absolute;
  left: 0;
}

#recommend-1-container {
  height: 350px;
  padding: 10px 14px;
  border-bottom: 1px solid #ddd;
}

#recommend-1-container .product-preview {
  /*display: block;*/
  width: 180px;
  height: 180px;
  /*overflow: hidden;*/
  /*margin: 0 auto;*/
}

#recommend-1-container > ._icon-recommend {
  top: 0;
}

#recommend-1-container .progress,
#recommend-1-container > p {
  /*margin-bottom: 8px;*/
}

#recommend-1-container button {
  margin-top: 4px;
}

#recommend-2-container {
  height: 220px;
}

#recommend-2-container ._icon-recommend-new {
  top: 10px;
  z-index: 2;
}

.recommend-2-item {
  padding: 15px;
  text-align: center;
}

.recommend-2-item > .divider {
  height: 6px;
  overflow: hidden;
  margin-top: 2px;
  border-top: 1px dashed #ddd;
}

.recommend-2-item > .product-preview {
  /*display: block;*/
  width: 120px;
  height: 120px;
  /*overflow: hidden;*/
  /*margin: 0 auto;*/
}

.recommend-2-item > .desc {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#recommend-2-container > .swiper-container > .swiper-button {
  top: 90px;
}

/****************************************************************************
* recommend end
****************************************************************************/

.part .part-title {
  height: 30px;
  margin: 0;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.part .more {
  position: absolute;
  top: 4px;
  right: 0;
  color: #999;
}

.part .more:hover {
  color: #555;
}

.part .part-item {
  position: relative;
  float: left;
  width: 241px;
  height: 400px;
  margin: -1px -1px 0 0;
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: #999;
}

.part .part-item:hover {
  padding: 9px 19px;
  border: 2px solid #ccc;
  cursor: pointer;
}

.part .part-item.category-banner:hover {
  border: 1px solid #ddd;
}

.part .part-item > .product-preview {
  width: 200px;
  height: 200px;
}

.part .part-item > .product-name {
  /*text-align: center;*/
}

.part .part-item > .ctrl {
  /*margin-top: 4px;*/
}

.part .part-item > ._icon-tag {
  position: absolute;
  top: 0;
  left: 0;
}

.part .part-item:hover > ._icon-tag {
  top: -1px;
  left: -1px;
}

.part .part-item .cart {
  display: inline-block;
  position: relative;
  top: 6px;
  left: 10px;
  width: 44px;
  height: 44px;
  border: 2px solid #db3652;
  border-radius: 22px;
  color: #db3652;
  font-size: 22px;
  line-height: 44px;
}

.part .part-item .cart:hover {
  background: #db3652;
  color: #fff;
}

/****************************************************************************
* part-2 start
****************************************************************************/

#part-2 {
  height: 830px;
}

#part-2 > div {
  float: left;
}

#part-2 > #hot-part {
  width: 961px;
  margin-right: 9px;
}

#part-2 > #hot-part ul {
  height: 800px;
  margin-top: 2px;
}

/*
#part-2 > #hot-part .hot-item {
  float: left;
  width: 241px;
  height: 400px;
  border: 1px solid #ddd;
  margin-top: -1px;
  margin-right: -1px;
}
*/

#part-2 > #legend {
  width: 230px;
}

#part-2 > #legend > .title {
  height: 30px;
  padding: 0 10px;
  background: #999;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

#part-2 > #legend > .content {
  height: 800px;
  border: 1px solid #ddd;
  border-top: none;
}

#part-2 > #legend > .content > .swiper {
  height: 768px;
  overflow: hidden;
  margin-bottom: 1px;
}

#part-2 > #legend > .content #legend-slide {
  height: 768px !important;
}

#part-2 > #legend > .content > .swiper .slide-item {
  height: 96px;
  padding: 20px 10px;
}

/*

#part-2 > #legend > .content #legend-slide .slides > li:nth-child(odd) > .slide-item {
  background: #f5f5f5;
}

#part-2 > #legend > .content > .swiper .bx-viewport {
  height: 768px !important;
}

#part-2 > #legend > .content > .swiper > #legend-slide .slide-item:nth-child(odd) {
  background: #f5f5f5;
}
*/

#part-2 > #legend > .content > .btm {
  height: 30px;
  background: #f5f5f5;
  color: #777;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}

/****************************************************************************
* part-2 end
****************************************************************************/

/****************************************************************************
* category part start
****************************************************************************/

.category-part {
  height: 430px;
}

.category-part > ul {
  height: 400px;
}

.category-part .part-item:last-child {
  width: 240px;
}

/****************************************************************************
* category part end
****************************************************************************/
