@charset "UTF-8";

.part {
  margin-bottom: 1em;
}

#part-1 {
  height: 571px;
  border-bottom: 1px solid #ddd;
}

#part-1 > div {
  float: left;
  height: 100%;
}

/****************************************************************************
* announcement container start
****************************************************************************/

#announcement-container {
  width: 240px;
  padding: 356px 10px 10px 10px;
  background: #ebe1b0;
  color: #663;
}

#announcement-container > h4 {
  font-size: 14px;
  font-weight: 600;
}

#announcement-container > .more {
  position: absolute;
  top: 366px;
  right: 10px;
}

#announcement-container > .divider {
  height: 1px;
  overflow: hidden;
  margin: 9px 0;
  background: #663;
}

#announcement-container a {
  color: #663;
}

#announcement-container a:hover {
  color: #252500;
}

#announcement-container > ul {
  margin-left: 2em;
}

#announcement-container > ul > li {
  /*list-style-type: decimal;*/
  list-style-type: disc;
  margin-bottom: 4px;
  /*color: #db3652;*/
  /*font-size: 14px;*/
  /*font-style: italic;*/
}

#announcement-container > ul > li > a {
  /*font-size: 12px;*/
  /*font-style: normal;*/
}

/****************************************************************************
* announcement container end
****************************************************************************/

#banner-n-new-reveal-container {
  width: 730px;
}

/****************************************************************************
* banner container start
****************************************************************************/

#banner-container {
  height: 350px;
}

#banner-container .swiper-slide {
  overflow: hidden;
}

#banner-container .swiper-slide > img {
  width: 100%;
}

#banner-container > .swiper-container > .swiper-button {
  top: 155px;
}

/****************************************************************************
* banner container end
****************************************************************************/

/****************************************************************************
* new-reveal container start
****************************************************************************/

#new-reveal-container {
  height: 220px;
}

#new-reveal-container .swiper-slide {
  overflow: hidden;
}

.new-reveal-item {
  float: left;
  width: 355px;
  height: 170px;
  margin: 10px 0 0 10px;
  padding: 0 10px;
}

.new-reveal-item:nth-child(odd) {
  border-right: 1px solid #ddd;
}

.new-reveal-item > .product-name {
  width: 220px;
  margin: 4px 0 6px 0;
  font-size: 14px;
  line-height: 150%;
}

.new-reveal-item > div {
  margin-bottom: 6px;
  line-height: 150%;
}

.new-reveal-item .award-info {
  display: none;
}

.new-reveal-item .award-winner {
  font-weight: 600;
}

.new-reveal-item ._icon-new-reveal {
  position: absolute;
  top: 0;
  right: 10px;
}

.new-reveal-item .product-preview {
  position: absolute;
  top: 60px;
  right: 10px;
}

#new-reveal-container > .swiper-container > .swiper-button {
  top: 80px;
}

/****************************************************************************
* recommend start
****************************************************************************/

#recommend-sidebar {
  width: 230px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#recommend-sidebar img {
  width: 100%;
  margin: 0 auto;
}

#recommend-sidebar .product-name {
  margin-top: 10px;
  font-size: 14px;
}

#recommend-sidebar ._icon {
  position: absolute;
  left: 0;
}

#recommend-1-container {
  height: 350px;
  padding: 10px 14px;
  border-bottom: 1px solid #ddd;
}

#recommend-1-container .product-preview {
  display: block;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
}

#recommend-1-container > ._icon-recommend {
  top: 0;
}

#recommend-1-container .progress,
#recommend-1-container > p {
  margin-bottom: 8px;
}

#recommend-1-container button {
  margin-top: 10px;
}

#recommend-2-container {
  height: 220px;
}

#recommend-2-container ._icon-recommend-new {
  top: 10px;
  z-index: 2;
}

.recommend-2-item {
  padding: 15px;
  text-align: center;
}

.recommend-2-item > .divider {
  height: 6px;
  overflow: hidden;
  margin-top: 2px;
  border-top: 1px dashed #ddd;
}

.recommend-2-item > .product-preview {
  display: block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
}

.recommend-2-item > .desc {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


#recommend-2-container > .swiper-container > .swiper-button {
  top: 90px;
}

/****************************************************************************
* recommend end
****************************************************************************/