[
  {
    "module": "dashboard",
    "title": "Dashboard",
    "action": "/_cms/home/default",
    "icon": "icon-fontawesone fa fa-home",
    "hasViews": false,
    "views": []
  },
  {
    "module": "product",
    "title": "Products",
    "action": "/_cms/products/",
    "icon": "icon-fontawesone fa fa-gift",
    "hasViews": true,
    "views": [
      {
        "title": "Product List",
        "inMenu": true,
        "action": "/_cms/products/productlist"
      },
      {
        "title": "Product Detail",
        "inMenu": false,
        "action": "/_cms/products/productdetail"
      },
      {
        "title": "Product Edit",
        "inMenu": false,
        "action": "/_cms/products/productedit"
      }
    ]
  }
]