<?xml version="1.0" encoding="utf-8"?>
<CMSSiteMap>
  <ModuleView>
    <title>dashboard</title>
    <breadcrumb>
      <router>dashboard</router>
    </breadcrumb>
  </ModuleView>
  <ModuleView>
    <title>Products</title>
    <views>
      <title>product list</title>
      <ismenu>1</ismenu>
      <breadcrumb>
        <router>Home</router>
        <router>Products</router>
        <router>List</router>
      </breadcrumb>
    </views>
    <views>
      <title>product detail</title>
      <ismenu>0</ismenu>
      <breadcrumb>
        <router>Home</router>
        <router>Products</router>
        <router>Detail</router>
      </breadcrumb>
    </views>
  </ModuleView>
</CMSSiteMap>