[
  {
    "module": "dashboard",
    "title": "Dashboard",
    "action": "/_cms/home/default",
    "icon": "icon-fontawesone fa fa-home",
    "views": []
  },
  {
    "module": "product",
    "title": "product",
    "action": "/_cms/product/",
    "icon": "icon-fontawesone fa fa-gift",
    "hasViews": true,
    "views": [
      {
        "title": "Product List",
        "inMenu": true,
        "action": "/_cms/product/productlist"
      },
      {
        "title": "Product Detail",
        "inMenu": false,
        "action": "/_cms/product/productdetail"
      },
      {
        "title": "Product Edit",
        "inMenu": false,
        "action": "/_cms/product/productedit"
      }
    ]
  },
  {
    "module": "category",
    "title": "Category",
    "action": "/_cms/category/categorylist",
    "icon": "icon-fontawesone fa fa-th-large",
    "hasViews": false,
    "views": [
      {
        "title": "Category List",
        "inMenu": true,
        "action": "/_cms/category/categorylist"
      },
      {
        "title": "Category Edit",
        "inMenu": false,
        "action": "/_cms/category/categoryedit"
      }
    ]
  }
]