@using Fuddi.Models;
@{
  ViewBag.Title = "ProductList";
  Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@section assets{
}

<p class="text-right">
  <a href="@(TempData[Fuddi.Configuration.SettingsCfg.Instance.REDIRECT_TEMPDATA_KEY])" class="btn btn-primary" role="button"><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;&nbsp;Back</a>
</p>

<h1>ProductList</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>