@charset "UTF-8";

.value-list-tbl > thead > tr > th,
.value-list-tbl > tbody > tr > th,
.value-list-tbl > tfoot > tr > th,
.value-list-tbl > thead > tr > td,
.value-list-tbl > tbody > tr > td,
.value-list-tbl > tfoot > tr > td {
  height: 52px;
  line-height: 34px;
}

.value-list-tbl th:nth-child(1) {
  width: 10%;
}

.value-list-tbl th:nth-child(2),
.value-list-tbl th:nth-child(3) {
  width: 35%;
}

.value-list-tbl .edit-elm {
  display: none;
}
