@charset "UTF-8";

body {
  padding-top: 50px;
  overflow: hidden;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon-fontawesone {
  font-size: 16px;
}

/**********************************************
* nav overwrite start
**********************************************/

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

/**********************************************
* nav overwrite end
**********************************************/

#cms-signin-form {
  position: fixed;
  top: 25%;
  width: 100%;
}

#top-nav {
  /*min-height: 80px;*/
}

/**********************************************
* content-body start
**********************************************/

#content-body {
  overflow: hidden;
}

/**********************************************
* content-body end
**********************************************/

/**********************************************
* menu start
**********************************************/

#menu-container {
  padding: 0;
}

#menu-list {
}

#menu-list .icon-fontawesone {
  /*margin-right: 8px;*/
  width: 24px;
}

#menu-list.navbar-collapse {
  padding: 0;
}

#menu-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu-list > ul {
  margin: 20px 0;
}

#menu-list > ul > li > a {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #555;
}

#menu-list > ul > li > a > .glyphicon {
  top: 2px;
}

#menu-list > ul > li > ul {
  display: none;
}

#menu-list > ul > li > ul.active {
  display: block;
}

#menu-list > ul > li > ul > li > a {
  display: block;
  padding: 6px 0 6px 44px;
}

/**********************************************
* menu end
**********************************************/

#content-container {
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
}

#content-container > #page-title {
  height: 60px;
}

#content-container > #page-title > h1 {
  margin: 0;
  font-size: 32px;
}

#content-container > #site-breadcrumb {
  margin-bottom: 20px;
  height: 50px;
  overflow: hidden;
}

#content-container > #site-breadcrumb > .breadcrumb {
  padding: 15px;
  margin: 0;
  border-radius: 0;
}

/**********************************************
* footer start
**********************************************/

#footer {
  height: 50px;
  line-height: 50px;
}

/**********************************************
* footer end
**********************************************/
