@charset "UTF-8";

body {
  font-family: "Microsoft YaHei", Verdana, arial, serif;
  color: #555;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
}

a:focus {
  outline: none;
  -moz-outline: none;
}

.btn {
  border: none;
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}
