@charset "UTF-8";

body {
  font-family: "Microsoft YaHei", Verdana, arial, serif;
  color: #555;
}

a, a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

a:focus {
  outline: none;
  -moz-outline: none;
}

.btn {
  border: none;
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.pagination,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}

.modal-dialog {
  margin-top: 100px;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style-type: none;
}

div {
  position: relative;
}