@charset "UTF-8";

body {
  font-size: 12px;
}

a {
  color: #39f;
}

a:hover {
  color: #337ab7;
}

.container {
  width: 1200px;
  padding-left: 0;
  padding-right: 0;
}

._icon {
  display: inline-block;
  background: url(/assets/images/icon.png) no-repeat;
}

._icon-new-reveal {
  width: 64px;
  height: 64px;
  background-position: 0 -210px;
}

._icon-recommend {
  width: 48px;
  height: 48px;
  background-position: -200px -280px;
}

._icon-recommend-new {
  width: 84px;
  height: 24px;
  background-position: -140px -210px;
}

.btn-buy,
.btn-buy:hover {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.btn-buy {
  background: #db3652;
}

.btn-buy:hover {
  background: #c61935;
}

.progress {
  height: 8px;
  /*background: #eee;*/
}

.progress > .progress-bar {
  border-radius: 4px;
  background: #fdb31c;
}

/****************************************************************************
* swiper container style override start
****************************************************************************/

.swiper-container {
  height: 100%;
}

.swiper-container > .swiper-button {
  display: none;
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.swiper-container > .swiper-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.swiper-container > .swiper-button > i {
  top: 2px;
}

.swiper-container > .swiper-button.prev {
  left: 0;
}

.swiper-container > .swiper-button.next {
  right: 0;
}

.swiper-container > .swiper-pagination > .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-container > .swiper-pagination > .swiper-pagination-bullet-active {
  background: #db3652;
}

.swiper-container:hover > .swiper-button {
  display: block;
}

/****************************************************************************
* swiper container style override end
****************************************************************************/

/****************************************************************************
* top nav start
****************************************************************************/

#site-top-nav {
  min-height: 30px;
  background: #f5f5f5;
  color: #999;
  line-height: 30px;
}

#top-nav-side-nav > li {
  float: left;
}

#top-nav-side-nav > li > a,
#top-nav-dropdown > span {
  padding: 0 10px;
}

#top-nav-side-nav li > div {
  display: inline-block;
}

#top-nav-dropdown {
  position: relative;
  width: 80px;
}

#top-nav-dropdown > span {
  display: inline-block;
  width: 100%;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

#top-nav-dropdown > div {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 10px;
}

#top-nav-dropdown:hover > span {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

#top-nav-dropdown:hover > div {
  display: block;
  border: 1px solid #ddd;
  border-top: none;
  background: #fff;
}

#top-nav-dropdown ul > li {
  line-height: 200%;
}

#top-nav-side-nav > li:nth-child(2) > a,
#top-nav-dropdown a {
  color: #999;
}

#top-nav-side-nav > li:nth-child(2) > a:hover,
#top-nav-dropdown a:hover {
  color: #333;
}

/****************************************************************************
* top nav end
****************************************************************************/

#header {
  border-bottom: 2px solid #db3652;
}

#header > .container {
  height: 90px;
  padding: 15px 0;
}

#header-search-container,
#header-cart-container {
  height: 60px;
  padding: 12px 0;
}

/****************************************************************************
* header search container start
****************************************************************************/

#header-search-container {
  width: 320px;
}

#search-container {
  position: relative;
  width: 100%;
  height: 36px;
  border: 1px solid #ddd;
}

#search-container > input {
  height: 34px;
  padding: 0 1em;
  border: none;
  line-height: 34px;
}

#search-container > input:focus {
  outline: none;
  -moz-outline: none;
}

#search-container > span.tags-container {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 40px;
  height: 34px;
  padding: 4px;
}

#search-container > span.tags-container > a.tag-item {
  display: inline-block;
  height: 100%;
  margin: 0 2px;
  padding: 0 6px;
  background: #f5f5f5;
  color: #777;
  text-align: center;
  line-height: 26px;
}

#search-container > span.tags-container > a.tag-item:hover {
  background: #777;
  color: #f5f5f5;
}

#search-container > a {
  display: inline-block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 40px;
  height: 36px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  color: #777;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
}

#search-container > a:hover {
  border: 1px solid #db3652;
  background: #db3652;
  color: #fff;
}

/****************************************************************************
* header search container end
****************************************************************************/

/****************************************************************************
* header cart container start
****************************************************************************/

#header-cart-container {
  width: 130px;
  padding: 0 0 0 10px;
}

#cart-container {
  position: relative;
  margin-top: 12px;
  padding: 0 1em;
  /*height: 36px;*/
  background: #db3652;
  color: #fff;
  line-height: 36px;
}

#cart-container:hover {
  cursor: pointer;
}

#cart-container > .badge {
  position: relative;
  top: -1px;
  background: #fff;
  color: #db3652;
}

#cart-container > .glyphicon-shopping-cart {
  top: 5px;
  font-size: 20px;
}

#cart-container > div {
  display: none;
  position: absolute;
  top: 30px;
  right: -10px;
  z-index: 2;
  width: 340px;
  padding: 10px;
}

#cart-container:hover > div {
  display: block;
}

#cart-content-container {
  display: block;
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border: 2px solid #db3652;
  background: #fff;
}

/****************************************************************************
* header cart container end
****************************************************************************/

/****************************************************************************
* header nav category container start
****************************************************************************/

#header-nav > .container {
  position: relative;
  height: 42px;
}

#main-category-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 240px;
  font-size: 14px;
}

#main-category-nav-container .category-nav-item {
  position: relative;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #fb3657;
}

#main-category-nav-container .category-nav-item > span,
#main-category-nav-container .category-nav-item > a {
  display: block;
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #ca1b38;
  padding: 0 2em;
  background: #db3652;
  color: #fff;
  line-height: 40px;
}

#main-category-nav-container .category-nav-item > a:hover {
  background: #c61935;
}

#main-category-nav-container > #main-list > div:nth-child(1) {
  padding-bottom: 12px;
  background: #db3652;
}

#main-category-nav-container > #main-list > #category-nav-footer {
  height: 4px;
  overflow: hidden;
  background: url(/assets/images/icon.png);
}

#main-category-nav-container .category-nav-item#cate-all > i {
  display: block;
  position: absolute;
  top: 12px;
  right: 2em;
  width: 13px;
  height: 15px;
  overflow: hidden;
  color: #fff;
}

#main-category-nav-container .category-nav-item#cate-all > i > i {
  position: absolute;
  top: -14px;
  left: 0;
}

#main-category-nav-container .category-nav-item#cate-all > i > i > .glyphicon {
  display: block;
  width: 13px;
  height: 14px;
}

/****************************************************************************
* header nav category container end
****************************************************************************/

/****************************************************************************
* header nav start
****************************************************************************/

#header-nav > .container > ul {
  height: 42px;
  margin-left: 240px;
}

#header-nav > .container > ul > li {
  float: left;
  margin: 0 5px;
  padding: 4px;
  line-height: 34px;
}

#header-nav > .container > ul > li.header-nav-divider {
  margin: 0;
  color: #999;
}

#header-nav > .container > ul > li > a {
  display: block;
  width: 100px;
  height: 34px;
  background: none;
  color: #555;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 34px;
}

#header-nav > .container > ul > li > a:hover {
  background: #f8f8f8;
  color: #db3652;
}

#header-nav > .container > ul > li > a:hover,
#header-nav > .container > ul > li > a.active {
  color: #db3652;
}

/****************************************************************************
* header nav end
****************************************************************************/