@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section assets{
  <script src="//cdn.bootcss.com/require.js/2.2.0/require.min.js" data-main="/assets/js/controllers/home/index-controller.js"></script>
}

<h2>Index</h2>

<a href="/_cms/home/signin">cms</a>