@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_MallLayout.cshtml";
}

@section assets{
  <link rel="stylesheet" href="/assets/css/web/home/index.css">
  <script src="//cdn.bootcss.com/require.js/2.2.0/require.min.js" data-main="/assets/js/controllers/web/home/index-controller.js"></script>
}

<h2>Index</h2>

<a href="/_cms/home/default">cms</a>